* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;    font-weight: 300;
    font-size: 1em;
}

 .shade {
              position: absolute;
              top:0;
              left:0;
              width:100vw;
              height:100vh;
              z-index: -1;
              background-color: rgba(49, 49, 49, 0.66);
          }

          
 

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
  
}

/* Text */

h1,
h2 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    z-index: 999;
}

p {
    line-height: 1.4;
    text-shadow: 1px 1px 1px #000;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #40a5c6;
}

h1 a,
h1 a:hover,
h1 a:visited {
    text-decoration: none;
}

p a {
    font-weight: 700;
}

/* Header */

header {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99;
    width: 100%;
    height: 10%;
}

.circle {
   position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,0.2);
    padding: 60px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin: -300px 0 0 -300px;
    text-align: center;
}

#logo { 
  position: absolute;
  left: 5%;
  height:40%;
  top:30%;
  display:inline-block;
  margin:0 5px;
}

/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
  text-align: center;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.video-title {
    position: absolute;
    top: 30%;
    left: 20%;
  width: 60%;
    opacity: .8;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .85;
    font-size: 4em;
    text-transform: uppercase;
  font-weight: 900;
  z-index: 999;
}

.tag-line {
  position: absolute;
  top:30%;
  left:20%;
  width:60%;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 100;
  
}

/* Nav */

nav {
    position: absolute;
    right: 46%;
    top: 65%;
    padding: 20px;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;
    border: 2px solid #38c3a4;
}

nav:hover {
    opacity: 1;
}

.next-icon {
    display: block;
    border-top: solid 2px #38c3a4;
    border-right: solid 2px #38c3a4;
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;
}

/* Codrops Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}
.codrops-top a:hover {
    background: rgba(255,255,255,0.4);
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}
/* End Codrops Header Style */