body{
  overflow: hidden;
  background-color:black;
}
.ms-fullscreen-template .slide-pattern{
	background: url(pattern.png) scroll;
	width: 100%;
	height: 100%;
	z-index: 8;
	-webkit-transform: translateZ(0.4px);
	-moz-transform: translateZ(0.4px);
	-ms-transform: translateZ(0.4px);
	-o-transform: translateZ(0.4px);
	transform: translateZ(0.4px);
	position: absolute;
	top: 0;
}

.ms-layer.bold-text-white{
	color: #FFF;
	
	font-weight: 900;
	font-size: 85px;
	text-shadow:-1px 1px black;
	margin: 0;
}

.ms-layer.thin-text-white{
	color: #FFF;
	background: rgba(0, 0, 0, 0.72);
	font-size: 77px;
	font-weight: 100;
	padding: 20px 25px;
	margin: 0;
	text-shadow: -1px 1px #000;
}

.ms-layer.thin-text-black{
	color: black;
	font-size: 77px;
	font-weight: 100;
	background: rgba(255, 255, 255, 0.78);
	padding: 20px 25px;
	margin: 0;
	text-shadow: -1px 1px rgba(255, 255, 255, 0.51);
}


.slide-1 {
	color:white;
	text-shadow: -1px 1px black;
}

.slide-1 .box{
	left: 660px;
	top: 40% !important;
	width: 46%;
	padding-bottom: 18% !important;
	background: rgba(0, 0, 0, 0.72);
}

.slide-1 .small-text {
	margin: 0;
	top: 40% !important;
	font-weight: 300;
	left: 682px;
	padding: 0;
	margin-top: 16px;
}

.slide-1 .medium-text {
	font-weight: 100;
	top: 40% !important;
	font-size: 77px;
	left: 673px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.slide-1 .big-text{
	font-weight: 900;
	left: 677px;
	top: 40% !important;
	padding: 0;
	font-size: 80px;
	margin: 0;
	margin-top: 90px;
}

.slide-2 {
	color:white;
	text-shadow: -1px 1px black;
}

.slide-2 .box{
	left: 660px;
	top: 40% !important;
	width: 46%;
	padding-bottom: 18% !important;
	background: rgba(0, 0, 0, 0.72);
}

.slide-2 .small-text {
	margin: 0;
	top: 40% !important;
	font-weight: 300;
	left: 682px;
	padding: 0;
	margin-top: 16px;
}

.slide-2 .medium-text {
	font-weight: 100;
	top: 40% !important;
	font-size: 77px;
	left: 673px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.slide-2 .big-text{
	font-weight: 900;
	left: 677px;
	top: 40% !important;
	padding: 0;
	font-size: 80px;
	margin: 0;
	margin-top: 90px;
}

.slide-3 {
	color:white;
	text-shadow: -1px 1px black;
}

.slide-3 .box{
	left: 660px;
	top: 40% !important;
	width: 46%;
	padding-bottom: 18% !important;
	background: rgba(0, 0, 0, 0.72);
}

.slide-3 .small-text {
	margin: 0;
	top: 40% !important;
	font-weight: 300;
	left: 682px;
	padding: 0;
	margin-top: 16px;
}

.slide-3 .medium-text {
	font-weight: 100;
	top: 40% !important;
	font-size: 77px;
	left: 673px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.slide-3 .big-text{
	font-weight: 900;
	left: 677px;
	top: 40% !important;
	padding: 0;
	font-size: 80px;
	margin: 0;
	margin-top: 90px;
}

.slide-4 {
	color:white;
	text-shadow: -1px 1px black;
}

.slide-4 .box{
	left: 660px;
	top: 40% !important;
	width: 46%;
	padding-bottom: 18% !important;
	background: rgba(0, 0, 0, 0.72);
}

.slide-4 .small-text {
	margin: 0;
	top: 40% !important;
	font-weight: 300;
	left: 682px;
	padding: 0;
	margin-top: 16px;
}

.slide-4 .medium-text {
	font-weight: 100;
	top: 40% !important;
	font-size: 77px;
	left: 673px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.slide-4 .big-text{
	font-weight: 900;
	left: 677px;
	top: 40% !important;
	padding: 0;
	font-size: 80px;
	margin: 0;
	margin-top: 90px;
}


/* Header Logo */
#logoHeader
{
  position: absolute;
  top:1vw;
  left:1vw;
  z-index: 99;
  height:3vw;
}

#logo {
  width: 100%;
  
}


video { -webkit-filter: grayscale(.5);
}

.shade {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.8);
}
